n8n_jsons/json_1.json
{"name":"GHL_AutoCalls_ElevenLabs","nodes":[{"parameters":{"httpMethod":"POST","path":"ghl-autocall"},"id":"WebhookStart","name":"Webhook Start","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300]},{"parameters":{"authentication":"headerAuth","requestMethod":"GET","url":"https://api.gohighlevel.com/v1/leads?pipelineId=/* CONFIRMAR: pipelineId */","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer {{$env.GHL_API_KEY}}"}]}},"id":"GetLeads","name":"Get Leads GHL","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[400,300]},{"parameters":{"url":"https://api.elevenlabs.io/v1/text-to-speech/rarity","method":"POST","authentication":"none","jsonParameters":true,"options":{"responseFormat":"file"},"bodyParametersJson":"{\"text\":\"Olá, este é um contato da nossa equipe.\",\"voice_settings\":{\"stability\":0.4,\"similarity_boost\":0.7}}","headerParametersJson":"{\"xi-api-key\":\"{{$env.ELEVENLABS_API_KEY}}\",\"Content-Type\":\"application/json\"}"},"id":"TTS","name":"ElevenLabs TTS","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[600,300]},{"parameters":{"command":"ffmpeg -i {{$binary.data}} -ar 16000 -ac 1 output.wav"},"id":"FFMPEG","name":"Normalize Audio","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[800,300]},{"parameters":{"url":"{{$json.presignedUrl}}","method":"PUT","sendBinaryData":true,"binaryPropertyName":"data"},"id":"S3Upload","name":"Upload to S3","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1000,300]},{"parameters":{"url":"https://api.gohighlevel.com/v1/phone/call","method":"POST","authentication":"none","jsonParameters":true,"headerParametersJson":"{\"Authorization\":\"Bearer {{$env.GHL_API_KEY}}\"}","bodyParametersJson":"{\"fromNumber\":\"+15551234567\",\"toNumber\":\"{{$json.phone}}\",\"playAudioUrl\":\"{{$json.audioUrl}}\"}"},"id":"CallLead","name":"Initiate Call GHL","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1200,300]},{"parameters":{"httpMethod":"POST","path":"ghl-callback"},"id":"WebhookCallback","name":"Callback Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1400,300]},{"parameters":{"url":"https://api.gohighlevel.com/v1/leads/{{$json.leadId}}","method":"PATCH","authentication":"none","jsonParameters":true,"headerParametersJson":"{\"Authorization\":\"Bearer {{$env.GHL_API_KEY}}\"}","bodyParametersJson":"{\"status\":\"Contacted\",\"lastCallRecording\":\"{{$json.recordingUrl}}\"}"},"id":"UpdateLead","name":"Update Lead GHL","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1600,300]}],"connections":{"Webhook Start":{"main":[[{"node":"Get Leads GHL","type":"main","index":0}]]},"Get Leads GHL":{"main":[[{"node":"ElevenLabs TTS","type":"main","index":0}]]},"ElevenLabs TTS":{"main":[[{"node":"Normalize Audio","type":"main","index":0}]]},"Normalize Audio":{"main":[[{"node":"Upload to S3","type":"main","index":0}]]},"Upload to S3":{"main":[[{"node":"Initiate Call GHL","type":"main","index":0}]]},"Initiate Call GHL":{"main":[[{"node":"Callback Webhook","type":"main","index":0}]]},"Callback Webhook":{"main":[[{"node":"Update Lead GHL","type":"main","index":0}]]}}}
