n8n_jsons/json_1.json
{"name":"GHL_to_ElevenLabsAgents","nodes":[{"parameters":{"httpMethod":"POST","path":"start-outbound-calls"},"id":"WebhookStart","name":"Webhook Start","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300]},{"parameters":{"authentication":"headerAuth","requestMethod":"GET","url":"https://api.gohighlevel.com/v1/leads?pipelineId=/* CONFIRMAR pipelineId */","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer {{$env.GHL_API_KEY}}"}]}},"id":"GetLeads","name":"Get Leads GHL","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[450,300]},{"parameters":{"functionCode":"// Itera sobre leads e prepara payload para ElevenLabs Agents\nreturn $json.data.map(lead => ({\n  json: {\n    leadId: lead.id,\n    phone: lead.phone,\n    name: lead.name\n  }\n}));"},"id":"PrepPayload","name":"Prepare Payload","type":"n8n-nodes-base.function","typeVersion":2,"position":[700,300]},{"parameters":{"url":"https://api.elevenlabs.io/v1/telephony/outbound/batch","method":"POST","jsonParameters":true,"headerParametersJson":"{\"xi-api-key\":\"{{$env.ELEVENLABS_API_KEY}}\",\"Content-Type\":\"application/json\"}","bodyParametersJson":"{\"phone_numbers\":[{\"to\":\"{{$json.phone}}\"}],\"agent_id\":\"/* CONFIRMAR: seu agent_id ElevenLabs */\",\"metadata\":{\"leadId\":\"{{$json.leadId}}\"}}"},"id":"SendToEL","name":"Send to ElevenLabs Outbound","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[950,300]},{"parameters":{"httpMethod":"POST","path":"elevenlabs-callback"},"id":"ELCallback","name":"ElevenLabs Callback","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1200,300]},{"parameters":{"url":"https://api.gohighlevel.com/v1/leads/{{$json.metadata.leadId}}","method":"PATCH","authentication":"none","jsonParameters":true,"headerParametersJson":"{\"Authorization\":\"Bearer {{$env.GHL_API_KEY}}\"}","bodyParametersJson":"{\"status\":\"Contacted\",\"lastCallResult\":\"{{$json.status}}\",\"callTranscript\":\"{{$json.transcript}}\"}"},"id":"UpdateLead","name":"Update Lead GHL","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1450,300]}],"connections":{"Webhook Start":{"main":[[{"node":"Get Leads GHL","type":"main","index":0}]]},"Get Leads GHL":{"main":[[{"node":"Prepare Payload","type":"main","index":0}]]},"Prepare Payload":{"main":[[{"node":"Send to ElevenLabs Outbound","type":"main","index":0}]]},"Send to ElevenLabs Outbound":{"main":[[]]},"ElevenLabs Callback":{"main":[[{"node":"Update Lead GHL","type":"main","index":0}]]}}}
