n8n_jsons/json_1.json
{
  "name": "Rarity Cold Call Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "authentication": "basicAuth",
        "path": "lead-trigger",
        "options": {}
      },
      "name": "GHL Lead Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "gohighlevel_webhook_auth",
          "name": "GoHighLevel Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "values": [
          {
            "name": "fromNumber",
            "value": "={{$json.number_from_ghl}}"
          },
          {
            "name": "toNumber",
            "value": "={{$json.contact.phone}}"
          },
          {
            "name": "firstName",
            "value": "={{$json.contact.firstName}}"
          }
        ]
      },
      "name": "Set Call Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/YOUR_VOICE_ID",
        "method": "POST",
        "options": {
          "responseFormat": "binary",
          "headerParameters": [
            {
              "name": "xi-api-key",
              "value": "={{$json.ELEVENLABS_API_KEY}}"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "bodyParameters": {
          "text": "Olá {{$json.firstName}}, aqui é o agente de voz da Rarity Agency. Estou ligando para...",
          "model_id": "eleven_multilingual_v2",
          "voice_settings": {
            "stability": 0.5,
            "similarity_boost": 0.75
          }
        }
      },
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://rest.gohighlevel.com/v1/phone/call",
        "method": "POST",
        "options": {
          "headerParameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$json.GHL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n\"fromNumber\": \"={{$json.fromNumber}}\",\n\"toNumber\": \"={{$json.toNumber}}\",\n\"playAudioUrl\": \"{{$json.S3_AUDIO_URL}}\"\n}"
      },
      "name": "Start GHL Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "GHL Lead Trigger": [
      {
        "node": "Set Call Variables",
        "type": "main",
        "index": 0
      }
    ],
    "Set Call Variables": [
      {
        "node": "ElevenLabs TTS",
        "type": "main",
        "index": 0
      }
    ],
    "ElevenLabs TTS": [
      {
        "node": "Start GHL Call",
        "type": "main",
        "index": 0
      }
    ]
  }
}
